<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>591609557155-89ni0abilddvnd84l5f4pmpbumbupumq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.591609557155-89ni0abilddvnd84l5f4pmpbumbupumq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>591609557155-o7rsdq9db1s4n3lctcdo71mpo7bqrbu9.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAMbbFa1yos0ntq5a6UHcvqsG-yfnCh8F0</string>
	<key>GCM_SENDER_ID</key>
	<string>591609557155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatDemoForSwazz</string>
	<key>PROJECT_ID</key>
	<string>chat-demo-for-swazz</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-demo-for-swazz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:591609557155:ios:06c5e9b72f563b457c8f16</string>
</dict>
</plist>